body, button, input{
  font-family: 'Montserrat', sans-serif;
  color: #222;
}

header img{
  height: fit-content;
  width: 100%;
}

header{
  margin-top: 0;
}

.p-col-5{
  border: 2px solid #222;
  border-radius: 10px;
  margin: 0 10px;
  max-height: 500px;
}
.p-col-3{
  border: 2px solid #222;
  border-radius: 10px;
  margin: auto;
}

.p-col-12{
  border: 2px solid #222;
  border-radius: 10px;
}
.p-grid{
  margin-top: 10px;
}

.p-col-8{
  border: #222;
  border-radius: 10px;
}
