<header>
  <img src="assets\images\header-img.jpg" alt="beers">
</header>
<body>
  <div class="p-grid">
    <div class="p-col-3">
      <app-shop></app-shop>
    </div>
    <div class="p-col-5">
        <app-map></app-map>
    </div>
    <div class="p-col-3">
      <div class="p-grid">
        <div class="p-col-11 user-panel">
          <table style="width:100%;">
            <tr style="width:100%;">
              <td style="width:90%;">
                <div class="user-greet">
                  <h3>Hello Vercingetorige!</h3>
                </div>
              </td>
              <td style="text-align: right; width:10%;">
                <div class="logout">
                  <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-rounded p-button-outlined logout-button"></button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <app-cart></app-cart>
    </div>
  </div>
  <div class="p-grid" [style.display] = "this.showService.show === true ? 'block' : 'none'">
    <div class="p-col-12">
      <app-menu></app-menu>
    </div>
  </div>
</body>
<hr>
<footer>
  <section id="lab_social_icon_footer">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
      <div class="text-center center-block">
        <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    	  <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="#"><i id="social-ig" class="fa fa-instagram fa-3x social"></i></a>
    	  <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    	  <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </div>
    </div>
  </section>
</footer>
