<div class="cart-title">
  <h3>Your cart is empty!</h3>
</div>
<hr>
<div class="subtotal">
  <div class="subtotal-label">
    <h2>Subtotal:</h2>
  </div>
  <div class="subtotal-amount">
    <h2><b>€0.00</b></h2>
  </div>
</div>
<hr>
<button pButton pRipple id="empty-button" type="button" label="Empty Cart" class="p-button-secondary" style="margin:auto; width:100%;" ></button>
<button pButton pRipple type="button" label="Order Now" class="p-button-secondary" style="margin:auto; width:100%;" ></button>
