.p-button-secondary{
  background-color: #222;
}

.p-button-secondary:hover{
  background-color: white !important;
  color: #222 !important;
}

.cart-title{
  text-align: center;
}

.subtotal>b{
  text-align: right;
}

#empty-button{
  background-color: white !important;
  color: #222 !important;
}
#empty-button:hover{
  background-color: #222 !important;
  color: white !important;
}

.subtotal{
  width: 100%;
  display: flex;
}

button{
  margin: 6px;
}

.subtotal-amount{
width: 50%;
text-align: right;
margin-right: 100px;
}

.subtotal-label{
width: 50%;
margin-left: 12px;
}

.discount{
  width: 100%;
}

.empty-cart-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4{
  text-align: center;
  color:#607D8B;
}
th, td {
  text-align: center !important;
}
