@import "~leaflet/dist/leaflet.css";

.map-frame {
  position: absolute;
  /* border: 2px solid black; */
  /* margin: 0; */
  /* padding: 0; */
  height: 50%;
  width: 750px;
  margin: auto;
}

#map {
  height: 100%;
  width: auto;
}
