@import "~leaflet/dist/leaflet.css";

.map-frame {
  position: relative;
   border: 2px solid black;
  /* margin: 0; */
  /* padding: 0; */
  height: 100%;
  width: 100%;
  /* bottom: 8px; */
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}
body{
  position: relative;
  height: 100%;
  margin: auto;
}
