<p>users-list works!</p>

<!--<div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="rUsers()"
    >
      CRUD
    </button>
  </div>

  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="rAuth()"
    >
      Google
    </button>

    
  </div>

  <div class="input-group-append">
  <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="rLogout()"
    >
      Logout from google
    </button>
  </div>

  <div class="input-group-append">
    <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="try()"
      >
safa      </button>
    </div>
  -->


  