<body>
  <div class="p-grid ">
      <div class="p-col-6" >
        <div class="title">
          <h1>Drink Take-Away</h1>
        </div>
        <div class="input-group">
          <span class="p-float-label">
            <input id="username-input" type="text" pInputText [(ngModel)]="Username">
            <label for="float-input">Username</label>
          </span>
          <br><br>
          <span class="p-float-label">
            <input id="password-input" type="password" pInputText [(ngModel)]="Password">
            <label for="float-input">Password</label>
          </span>
          <br><br>
          <div class="button-group">
            <button *ngIf="!isLogged" class="btn btn-outline-danger btn-lg btn-block" (click)="signInWithGoogle()">
            <i class="fab fa-google"></i> Accedi con Google</button>
          <button *ngIf="!isLogged" class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFB()">
            <i class="fab fa-facebook"></i> Accedi con Facebook</button>
            <button *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logOut()">
              <i class="fas fa-sign-out-alt fa-lg"></i> Log out</button>
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <img src="assets\images\iri-white-paper-birra-2020-pinta-boccale.jpg" alt="beers">
      </div>
  </div>
    <app-users-list> </app-users-list>
</body>
